In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [23]:
#https://data.world/singgih/airtrafficpassengerdataproject-4-11-2021/workspace/file?agentid=data-society&datasetid=air-traffic-passenger-data&filename=Air_Traffic_Passenger_Statistics.csv

df = pd.read_csv('https://query.data.world/s/ns3l3xcga6fa4ypmv4p6znhwna7kke')
print(df)

       Activity Period Operating Airline Operating Airline IATA Code  \
0               200507      ATA Airlines                          TZ
1               200507      ATA Airlines                          TZ
2               200507      ATA Airlines                          TZ
3               200507       Air Canada                           AC
4               200507       Air Canada                           AC
...                ...               ...                         ...
15002           201603    Virgin America                          VX
15003           201603    Virgin America                          VX
15004           201603    Virgin America                          VX
15005           201603   Virgin Atlantic                          VS
15006           201603   Virgin Atlantic                          VS

      Published Airline Published Airline IATA Code    GEO Summary GEO Region  \
0          ATA Airlines                          TZ       Domestic         US
1          ATA Airlines                          TZ       Domestic         US
2          ATA Airlines                          TZ       Domestic         US
3           Air Canada                           AC  International     Canada
4           Air Canada                           AC  International     Canada
...                 ...                         ...            ...        ...
15002    Virgin America                          VX       Domestic         US
15003    Virgin America                          VX  International     Mexico
15004    Virgin America                          VX  International     Mexico
15005   Virgin Atlantic                          VS  International     Europe
15006   Virgin Atlantic                          VS  International     Europe

      Activity Type Code Price Category Code       Terminal Boarding Area  \
0               Deplaned            Low Fare     Terminal 1             B
1               Enplaned            Low Fare     Terminal 1             B
2         Thru / Transit            Low Fare     Terminal 1             B
3               Deplaned               Other     Terminal 1             B
4               Enplaned               Other     Terminal 1             B
...                  ...                 ...            ...           ...
15002           Enplaned            Low Fare     Terminal 2             D
15003           Deplaned            Low Fare  International             A
15004           Enplaned            Low Fare     Terminal 2             D
15005           Deplaned               Other  International             A
15006           Enplaned               Other  International             A

       Passenger Count Adjusted Activity Type Code  Adjusted Passenger Count  \
0                27271                    Deplaned                     27271
1                29131                    Enplaned                     29131
2                 5415          Thru / Transit * 2                     10830
3                35156                    Deplaned                     35156
4                34090                    Enplaned                     34090
...                ...                         ...                       ...
15002           194636                    Enplaned                    194636
15003             4189                    Deplaned                      4189
15004             4693                    Enplaned                      4693
15005            12313                    Deplaned                     12313
15006            10898                    Enplaned                     10898

       Year  Month
0      2005   July
1      2005   July
2      2005   July
3      2005   July
4      2005   July
...     ...    ...
15002  2016  March
15003  2016  March
15004  2016  March
15005  2016  March
15006  2016  March

[15007 rows x 16 columns]